* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: rgb(241, 245, 248);
  color: rgb(16, 42, 66);
  line-height: 1.5;
  font-size: 0.875rem;
}
h2,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}
h2 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: #617d98;
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h2,
  h4 {
    line-height: 1;
  }
}
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.underline {
  width: 7rem;
  height: 0.25rem;
  background-color: #c59d5f;
  margin: 0 auto;
}
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background-color: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: #c59d5f;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: #c59d5f;
  color: #fff;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid #c59d5f;
  border-radius: 0.25rem;
  display: block;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted #617d98;
}
.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: #c59d5f;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
