* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #4b145b;
  color: rgb(16, 42, 66);
  line-height: 1.5;
  font-size: 0.875rem;
}
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: rgb(97, 125, 152);
}
@media screen and (min-width: 800px) {
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  h3,
  h4 {
    line-height: 1;
  }
  body {
    font-size: 1rem;
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90vw;
  margin: 5rem auto;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2.5rem 2rem;
  max-width: 920px;
  display: grid;
  grid: 1rem 2rem;
}
.container h3 {
  line-height: 1.2;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}

.question {
  padding: 1rem 1.5rem;
  border: 1px solid #eae6eb;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
}
.question p {
  color: rgb(50, 77, 103);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}

.btn {
  background-color: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background-color: #eae6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #b4345c;
  cursor: pointer;
  margin-left: 1rem;
  min-width: 2rem;
  align-self: center;
}
