* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 245, 248);
  color: rgb(16, 42, 66);
  line-height: 1.5;
  font-size: 0.875rem;
}

h2 {
  font-size: 2rem;
}
p {
  margin-bottom: 1.25rem;
  color: rgb(97, 125, 152);
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
    line-height: 1;
  }
  body {
    font-size: 1rem;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem 0;
}
.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.underline {
  height: 0.25rem;
  width: 7rem;
  background-color: rgb(97, 125, 152);
  margin: 0 auto;
}
.container {
  width: 80vw;
  max-width: 620px;
}
.review {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  text-align: center;
}
.review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background-color: rgb(97, 125, 152);
  color: #fff;
}

.author {
  margin-bottom: 0.25rem;
}
.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: rgb(97, 125, 152);
  font-size: 0.85rem;
}
.info {
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  color: rgb(139, 203, 249);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: rgb(97, 125, 152);
}
.random-btn {
  margin-top: 0.5rem;
  background-color: rgb(235, 247, 255);
  color: rgb(97, 125, 152);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  border-color: transparent;
  cursor: pointer;
}
.random-btn:hover {
  background-color: rgb(97, 125, 152);
  color: rgb(6, 50, 81);
}
