* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 245, 248);
  color: rgb(16, 42, 66);
  line-height: 1.5;
  font-size: 0.875rem;
}

h2 {
  font-size: 2rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: rgb(97, 125, 152);
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h2,
  h4 {
    line-height: 1;
  }
}

.btn {
  background-color: rgb(97, 125, 152);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 0.1rem;
  border-color: transparent;
  margin-top: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

main {
  width: 90vw;
  max-width: 620px;
  margin: 5rem auto;
}
.loading {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
  text-transform: capitalize;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  margin: 0.5rem auto 0;
  background-color: rgb(97, 125, 152);
}
.single-tour {
  background-color: #fff;
  border-radius: 0.25rem;
  margin: 2rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.single-tour:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.single-tour img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.tour-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tour-info h4 {
  margin-bottom: 0;
}

.single-tour button {
  padding-left: 0.25rem;
  background-color: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: rgb(97, 125, 152);
  font-size: 1rem;
  cursor: pointer;
}
.tour-price {
  color: rgb(97, 125, 152);
  background-color: rgb(235, 247, 255);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.single-tour footer {
  padding: 1.5rem 2rem;
}
.single-tour .delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: rgb(187, 37, 37);
  letter-spacing: 0.1rem;
  background: transparent;
  border: 1px solid rgb(187, 37, 37);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
